* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #333131;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
}

ul {
    list-style-type: none;
}

.accordion {
    widows: 100%;
    min-width: 200px;
    margin: 0;
    background: #FFF;
}

.accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion .single-link:hover {
    background: #b63b4d;
    color: #fff;
}

.accordion .link a {
    text-decoration: none;
}

.accordion li:last-child .link {
    border-bottom: 0;
}

.accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
}

.accordion li.open .link {
    color: #b63b4d;
}

.accordion li.open i {
    color: #b63b4d;
}

.accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.accordion li.default .submenu {
    display: block;
}


/**
 * Submenu
 -----------------------------*/

.submenu {
    display: none;
    background: #444359;
    font-size: 14px;
}

.submenu li {
    border-bottom: 1px solid #4b4a5e;
}

.submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    padding-left: 42px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.submenu a:hover {
    background: #b63b4d;
    color: #FFF;
}

.accordion .active {
    background: #b63b4d;
    color: #FFF;
}

.product-list .row {
    padding-right: 0;
}

.product {
    padding: 0 5px 0px 5px;
}

.product img {
    height: 190px;
    width: 250px;
}

.product .card {
    box-shadow: darkgrey 2px 2px 6px 1px;
    padding: 3px 1px 1px 1px;
}

.product .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #b63b4d;
    font-weight: bold;
    color: #f1f0f0;
    opacity: 0.9;
}

.product .star {
    float: right;
    color: #ed1b24;
}

.product a {
    color: #000;
}

.product a:hover {
    color: #ed1b24;
    text-decoration-line: none;
}

.product-detail {
    background-color: #f1f0f0;
    padding-right: 15px;
}

.product-detail .star {
    color: #ed1b24;
}

.thumbnail {
    width: 180px;
    height: 140px;
    margin-left: 3px;
    margin-bottom: 5px;
}

.product-thumbnail {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 15px;
}

.product-thumbnail .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.product-thumbnail img {
    display: block;
    position: relative;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.product-thumbnail h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translatey(-100px);
    -ms-transform: translatey(-100px);
    transform: translatey(-100px);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-thumbnail:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.product-thumbnail:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
}

.product-thumbnail:hover h2,
.product-thumbnail:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.product-thumbnail:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}